* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background: cadetblue;
}
.heading{
    position: relative;
    color: white;
}
.clock{
    height: 450px;
    width: 450px;
    background-image: url(./img/clock.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock::before{
    content: "";
    position:absolute;
    height:15px;
    width: 15px;
    background: white;
    border-radius: 50%;
    z-index: 999;
}
.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}


.clock .hour,
.hr{
    height:160px;
    width: 160px;

}
.clock .min,
.mn{
    height:190px;
    width: 190px;

}

.clock .sec,
.sc{
    height:230px;
    width: 230px;

}

.hr,
.mn,
.sc{
    position: absolute;
    display: flex;
    justify-content: center;
}

.hr::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 80px;
    background: white;
    border-radius: 6px 6px 0 0;
    z-index: 1;
}

.mn::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: white;
    border-radius: 6px 6px 0 0;
    z-index: 2;
}

.sc::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background: white;
    border-radius: 6px 6px 0 0;
    z-index: 3;
}